@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: montserrat;
    src: url('./assets/Montserrat-Regular.ttf');
  }
  
  .montserrat{
    font-family: montserrat;
    font-weight: 900;
  }